# https://www.youtube.com/watch?v=iYie42M1ZyU

In [ ]:
import pandas as pd

In [45]:
df  = pd.read_csv('Cleaning_and_Tidying_Data_Daniel_Chen/gapminder.tsv', sep='\t')
df1 = pd.read_csv('Cleaning_and_Tidying_Data_Daniel_Chen/pew.csv')
df2 = pd.read_csv('Cleaning_and_Tidying_Data_Daniel_Chen/billboard.csv')
df3 = pd.read_csv('Cleaning_and_Tidying_Data_Daniel_Chen/country_timeseries.csv')
df4 = pd.read_csv('Cleaning_and_Tidying_Data_Daniel_Chen/weather.csv')

## MELT =Long to Short

In [59]:
songs=pd.melt(df2,id_vars=['year', 'artist', 'track', 'time', 'date.entered'],var_name='week',value_name='rating')

In [51]:
melted = pd.melt(df4,id_vars=['id','year','month', 'element'], var_name='days',value_name='temp')
##melted = df4.melt(id_vars=['id','year','month', 'element'], var_name='days',value_name='temp')

## PIVOT : Short to Long

In [55]:
pivoted = melted.pivot_table(index=['id','year','month','element','days'],columns='element',values='temp').reset_index()

In [56]:
pivoted

element       id  year  month element days  tmax  tmin
0        MX17004  2010      1    tmax  d30  27.8   NaN
1        MX17004  2010      1    tmin  d30   NaN  14.5
2        MX17004  2010      2    tmax  d11  29.7   NaN
3        MX17004  2010      2    tmax   d2  27.3   NaN
4        MX17004  2010      2    tmax  d23  29.9   NaN
..           ...   ...    ...     ...  ...   ...   ...
61       MX17004  2010     11    tmin   d4   NaN  12.0
62       MX17004  2010     12    tmax   d1  29.9   NaN
63       MX17004  2010     12    tmax   d6  27.8   NaN
64       MX17004  2010     12    tmin   d1   NaN  13.8
65       MX17004  2010     12    tmin   d6   NaN  10.5

[66 rows x 7 columns]

## Create a daset from songs dataset that has only columns 'year','artist','track','time' but duplicates must be removed to save space.

In [62]:
songs1=songs[['year','artist','track','time']].drop_duplicates()

## Creating a id for the dataset and saving

In [69]:
songs1['id'] = range(len(songs1))

In [71]:
songs1.to_csv('songs1.csv',index=False)